

<h1>Team <%= @team.name %></h1>

<h2>Team Motto: <%= @team.motto %></h2>

<% @heroes.each do |hero| %>
  <p>
    Hero Name: <%= hero.name %>
    <br>
    Hero Power: <%= hero.power %>
    <br>
    Hero Bio: <%= hero.bio %>
  </p>


<% end %>
Hero Name: Amanda
<br>
Hero Power: Ruby
<br>
Hero Biography: I love Ruby!
<br>
Hero Name: Arel
<br>
Hero Power: JavaScript
<br>
Hero Biography: I love JavaScript!
<br>
Hero Name: Katie
<br>
Hero Power: Sinatra
<br>
Hero Biography: I love Sinatra!
